<div style="width:100%" layout="row">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <h1>Tradings</h1>
        </md-toolbar>
        <md-input-container style="margin-bottom:0">
            <label>Customer Name</label>
            <input required name="customerName" ng-model="filterText" ng-change="filter()">
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="it in tradings">
                <md-button ng-click="selectCustomer(it, $index)" ng-class="{'selected' : it === selected }">
                    {{it.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <div layout="row" class="md-whiteframe-z1">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <md-truncate flex>
                        Gestion des achats & ventes
                    </md-truncate>
                </div>
            </md-toolbar>
        </div>
        <md-content layout-padding>
            <div>
                <form name="userForm" novalidate>

                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Marque & Modèle</label>
                            <input ng-model="newEntry.make" type="text">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Matricule</label>
                            <input ng-model="newEntry.vin" type="text">
                        </md-input-container>
                        <md-switch class="md-block" flex-gt-xs ng-model="selled" aria-label="Switch 2"
                                   ng-true-value="'oui'" ng-false-value="'non'"
                                   class="md-warn">
                            Vendue ? {{ data.cb2 }}
                        </md-switch>

                    </div>
                    <div ng-show="selled == 'oui'">
                        <h2>Informations de vente</h2>
                        <div layout-gt-xs="row">

                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Acheteur</label>
                                <input ng-model="newEntry.buyer" ng-required="true">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Observations</label>
                                <input ng-model="newEntry.remarks" type="text">
                            </md-input-container>

                        </div>
                    </div>
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-primary" ng-click="saveTrading()">Savegarder
                        </md-button>
                        <md-button class="md-raised md-info" ng-click="createTrading()">Nouveaux Achat
                        </md-button>
                    </section>
                </form>
            </div>
        </md-content>

        <md-toolbar class="md-primary" layout="row">
            <div class="md-toolbar-tools">
                <md-truncate flex>
                    Liste {{count}}
                </md-truncate>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected"
                   md-progress="promise">
                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                    <th md-column md-numeric md-order-by="id" md-desc><span>Numéro</span></th>
                    <th md-column md-order-by="make"><span>Marque & Modèle</span></th>
                    <th md-column md-order-by="vin"><span>Matricule</span></th>
                    <th md-column md-order-by="vin"><span>Acheteur</span></th>
                    <th md-column md-order-by="vin"><span>CIN</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="trading" md-on-select="logItem" md-auto-select="options.autoSelect"
                    ng-repeat="trading in tradings | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell>{{trading.make}}</td>
                    <td md-cell>{{trading.vin}}</td>
                    <td md-cell>
                        <md-icon class="md-secondary" ng-click="onDelete(trading)" aria-label="Chat"
                                 md-svg-icon="communication"></md-icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                             md-total="{{tradings.length}}" md-page-select="options.pageSelect"
                             md-boundary-links="options.boundaryLinks"
                             md-on-paginate="logPagination"></md-table-pagination>
    </div>
</div>