<div style="width:100%" layout="row">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <h1>Tradings</h1>
        </md-toolbar>
        <md-input-container style="margin-bottom:0">
            <label>Customer Name</label>
            <input required name="customerName" ng-model="_ctrl.filterText" ng-change="_ctrl.filter()">
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="it in _ctrl.tradings">
                <md-button ng-click="_ctrl.selectCustomer(it, $index)" ng-class="{'selected' : it === _ctrl.selected }">
                    {{it.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <div layout="row" class="md-whiteframe-z1">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <md-truncate flex>
                        Here is an awesome title that will shrink and overflow.
                    </md-truncate>

                    <md-button class="md-icon-button md-fab-mini" aria-label="Favorite">
                        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        </div>
        <md-content layout-padding>
            <div>
                <form name="userForm">

                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Marque & Modèle</label>
                            <input ng-model="_ctrl.selected.make" type="text">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Matricule</label>
                            <input ng-model="_ctrl.selected.vin" type="text">
                        </md-input-container>
                        <md-switch class="md-block" flex-gt-xs ng-model="data.cb2" aria-label="Switch 2"
                                   ng-true-value="'oui'" ng-false-value="'non'"
                                   class="md-warn">
                            Vendue ? {{ data.cb2 }}
                        </md-switch>

                    </div>
                    <div ng-show="data.cb2 == 'oui'">
                    <h2>Informations de vente</h2>
                    <div layout-gt-xs="row">

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Acheteur</label>
                            <input ng-model="_ctrl.selected.buyer" ng-required="true">
                        </md-input-container>
                        <md-input-container  class="md-block" flex-gt-xs>
                            <label>Observations</label>
                            <input ng-model="_ctrl.selected.remarks" type="text">
                        </md-input-container>

                    </div>
                    </div>
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-info" ng-click="_ctrl.createTrading()">Nouvelle entrée
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="_ctrl.saveTrading()">Savegarder
                        </md-button>
                    </section>
                </form>
            </div>
        </md-content>

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>{{ _ctrl.selected.name }}</h1>
        </md-toolbar>

        <md-content flex id="content">
            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                    <tr md-row>
                        <th md-column md-order-by="nameToLower"><span>Numéro</span></th>
                        <th md-column md-numeric><span>Marque & Modèle</span></th>
                        <th md-column md-numeric>Matricule</th>
                        <th md-column md-numeric>Acheteur</th>
                        <th md-column md-numeric>Observations</th>
                        <th md-column md-numeric>Vendue</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-auto-select>
                        <td md-cell>dessert.name</td>
                        <td md-cell>dessert.name</td>
                        <td md-cell>dessert.name</td>
                        <td md-cell>dessert.name</td>
                        <td md-cell>dessert.name</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-content>

    </div>
</div>